service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.sony
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input

    # This is a horrible workaround for the stuck TZ application and should be fixed ASAP
on property:sys.boot_completed=1 && property:ro.board.platform=sdm660
    stop fps_hal
    start fps_hal
